@import url(https://fonts.googleapis.com/css?family=Passion+One|Candal|Lobster|Chewy|Patua+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
.navbar-default {
    background-color: #ADD8E6;
    border-color: #ADD8E6;
    border-radius: 0;
    padding-bottom: 10px;

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
     font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #FFA500;
    border-radius: 15px;
}
.navbar-default .navbar-nav > li{
    padding-left: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #FFA500;
    border-radius: 15px;
}

.navbar-default .navbar-text {
    color: #000;
}

.navbar-default .navbar-toggle {
    border-color: #FFA500  ;
 }   

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFA500;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.container{
    background-color: #000;
    padding-top: 15px;
    border-radius: 10px;
    padding-bottom: 15px;
    min-width: 402px;
}
.navbar-right{
    margin-top: 81px;
}
.logo{
    margin-top: 28px;
}
.content{
    background-color: #FFA500;
    margin-top: -20px;
    position: relative;
}
h1{
    font-family: cursive;
    font-size: 50px;
   text-align: center;
}
h3{
    font-family: cursive;
    text-align: center;
}
p{
    text-align: justify;
   margin-top: 29px;  
   margin-left: 10px;
   margin-right: 10px;
    font-family: 'Noto Serif', serif;
}


.btn-primary{
    background-color: #ADD8E6;
    border-color: #ADD8E6;
    color: #000;
    font-family: 'Candal';
}

.review{
    background-color: #ADD8E6;
    padding-bottom: 10px;
    margin-top: 5px;
}
.review-box{
    background-color: #fff;
    height: 263px;
    width: 363px;
    border-radius: 25px;
    background:url("../images/bg-10.png");
    margin-top: 120px;
    margin-right: 20px;
    margin-left: -5px;
}
.review-content{
   padding-left: 18px;
    padding-right: 30px;
    padding-top: 47px;
     text-align: justify;
      font-family: 'Noto Serif', serif;
     line-height: 18px;
}
.about{
    background-color: #ADD8E6;
    padding-top: 113px;
    padding-bottom: 5px;
}
.form{
    height: 500px;
    width: 340px;
    background-color: #000;
    margin-top: 0px; 
    margin-right: 10px;
}
.sample{
   text-align: center;
    font-family: 'Passion One', sans-serif;
    font-size: 55px;
    color: #FFA500;
    font-weight: 400px;
    position: relative;
    top: 15px;   
}
.boxpara{
    color: #fff;
    font-family: 'Noto Serif', serif;
    text-align: center;
}
form{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
hr{
    width: 290px;
    color: #000;
}
.btn-success{
    width: 320px;
    height: 50px;
    border-radius: 0px;
}
.form-control{
    height: 45px;
    border-radius: 0px;

}
.boxpara1{
    color: #fff;
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 20px;
}
.form-group{
    padding-bottom: 10px;
}
.book{
    position: relative;
    margin-top: 12px;
    margin-left: 31px;
    margin-bottom: 14px;
}
.btn-warning{
    background-color: #FFA500;
    color: #000;
    font-size: 36px;
   font-family: 'Passion One', sans-serif;

}
.arrow{
    position: relative;
    margin-left: -65px;
    top: 20px;
}
.blackbox-content{
    position: relative;
    top: -90px;
}
.reviewphoto{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 75px;
    left: 222px;
    padding-bottom: 10px;
}
.img-responsive{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    
}
.well{
    background-color: #FFA500;
    border: 0px;
    position: relative;

}
.contact-title{
    font-size: 45px;
    font-family: 'Passion One', sans-serif;
}
.contact-content{
    position: relative;
    top: -10px;
    font-family: 'Noto Serif', serif;
    background-color: #fff;
    height: 305px;
    background:url("../images/bg-1.jpg");    
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px; 

}
.about-author{
    position: relative;
    top: -10px;
}
.author-name{
    font-size: 45px;
    font-family: 'Passion One', sans-serif;
 position: relative;
 top: 6px;   
}
.bottom-content{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 10px;
}
blockquote{
  display:block;
  background: #FFA500;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: 'Lato-LightItalic',serif;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  border: none;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  
  /*Positioning*/
  position: absolute;
  left: 5px;
  top:29px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}
.reviews-title{
    font-size: 45px;
    font-family: 'Passion One', sans-serif;
}
cite{
    padding-right: 15px;
}